<div class="pending-item">
  <div class="pending-header">
    <div class="pending-info">
      <div class="pending-chore">{{ pendingApproval.choreName }}</div>
      <div class="pending-meta">
        {{ pendingApproval.completedAt | date: 'medium' }} • +{{ pendingApproval.points }}
        pts
      </div>
    </div>
    <div class="pending-photo">{{ pendingApproval.icon }}</div>
  </div>
  <div class="pending-actions">
    <button (click)="review(false)" class="action-btn reject-btn">
      Reject
      @if (loadingButton === ButtonType.Reject && loading) {
        <app-loading-emoji />
      }
    </button>
    <button (click)="review(true)" class="action-btn approve-btn">
      Approve
      @if (loadingButton === ButtonType.Approve && loading) {
        <app-loading-emoji />
      }
    </button>
  </div>
</div>
