<div class="kid-stats">
    <div class="kid-stat">
        <div class="kid-stat-val">🔥 {{ kid.dayStreak }}</div>
        <div class="kid-stat-lbl">Day Streak</div>
    </div>
    <div class="kid-stat">
        <div class="kid-stat-val">{{ kid.kidStats.approvalRate }} %</div>
        <div class="kid-stat-lbl">Approval Rate</div>
    </div>
    <div class="kid-stat">
        <div class="kid-stat-val">{{ kid.spendablePoints ?? 0 }}</div>
        <div class="kid-stat-lbl">Spendable Points</div>
    </div>
</div>
