<div class="slide">
  <form [formGroup]="form" (submit)="submit()">
    <div class="slide-content">
      <div class="illustration">{{ form.get('avatar')!.value }}</div>
      <div class="slide-title">Create Your Profile</div>
      <div class="slide-description">Let's set up your account!</div>

      <div class="input-container">
        <input
          [formControl]="form.controls['name']"
          type="text"
          class="input-field"
          placeholder="What's your name?"
          value="Zach"
        />
        <input
          [formControl]="form.controls['age']"
          type="number"
          class="input-field"
          placeholder="How old are you?"
          value="10"
        />
      </div>

      <div class="slide-description" style="margin-bottom: 10px">Choose your avatar:</div>
      <div class="avatar-selector">
        @for (avatar of avatars; track avatar.emoji) {
          <div
            (click)="selectAvatar(avatar.emoji)"
            class="avatar-option"
            [class.selected]="form.get('avatar')!.value === avatar.emoji"
          >
            {{ avatar.emoji }}
          </div>
        }
      </div>
    </div>

    <div>
      <div class="buttons-container">
        <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
        <button type="submit" class="btn btn-primary">
          @if (loading()) {
            Creating Profile <app-loading-emoji />
          } @else {
            Create Profile 🎉
          }
        </button>
      </div>
    </div>
  </form>
</div>
